body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

/* HEADER */
.header {
    width: 100%;
    background-color: #007765;
    height: 84px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 21;
    transition: height 1s ease-in-out;
    }

.main__container {
	width: 100%;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.nav__container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}


.nav__link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #fff;
	text-decoration: none;
	transition: color .1s linear;
}


.nav__border {
	color: #fff;
	text-decoration: none;
}

.nav__link:hover {
	color: #484242;
}

.anchor {
	display: block;
	position: relative;
	visibility: hidden;
    top: -84px;
}

.intro {
	background: url('../images/intro.png') center no-repeat;
	background-size: cover;
	margin-top: 84px;
	padding-top: 160px;
	padding-bottom: 160px; 
}


.intro__title {
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	color: #FFFFFF;
}

.problem {
	background: #EEEEEE;
	height: 100%;
}

.problem__title {
	padding: 48px 0px 16px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}

.problem__text {
	margin: 0;
	padding-bottom: 92px;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
}

.hero {
	background: url('../images/hero.png') center no-repeat;
	background-size: cover;

}

.hero__text {
	padding: 128px 0px 127px 0px;
	font-style: italic;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
}

.ppc {
	background: #ffffff;
}

.ppc__title {
	padding: 48px 0px 16px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}

.ppc__logo {
	float: left;
	padding-right: 48px;
	
}

.ppc__text p {
	margin: 0;
	padding-bottom: 92px;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
}

.team {
	background: #EEEEEE;
	padding-bottom: 80px;

}

.team__title {
	padding: 58px 0px 32px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}

.members {
	display: flex;
	flex-flow: wrap; 
}

.member {
	text-align: center;
	flex-basis: 33%;
	padding: 24px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.member__image {
	padding-bottom: 12px;
}

.member__name {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #007765;
}


.member__role {
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.footer {
	padding: 50px 0px 62px 0px;
	background: #333333;
}

.footer__text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}
